# Это пример файла для хранения секретных данных.
# Скопируйте этот файл в .env и замените значение на ваш реальный токен.
# Убедитесь, что файл .env добавлен в .gitignore, чтобы случайно не опубликовать ваши ключи.

# TBank API токены
INVEST_TOKEN=""

# Telegram уведомления
TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""

# Alor API токены
ALOR_TOKEN=""
ALOR_REFRESH_TOKEN=""
ALOR_CLIENT_ID=""
ALOR_CLIENT_SECRET=""
ALOR_LOGIN="" 